@use "../abstracts/abstracts" as abs;

@use "sass:map";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 2rem;

  .index-main-conatiner {
    @include abs.bp("sm") {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }

  h3 {
    @include abs.hd-m();
    @include abs.bp("sm") {
      @include abs.hd-l();
    }
  }
  ul {
    list-style: none;
    margin-bottom: 2rem;
    a,
    strong {
      text-decoration: none;
      color: map.get(abs.$colors, "p");
      &:hover,
      a strong:hover {
        color: #09afa1;
      }
      @include abs.bp("xl") {
        @include abs.bd-xl();
        line-height: normal;
      }
    }
    .todos {
      @include abs.bp("lg") {
        color: map.get(abs.$colors, "wht");
        background-color: map.get(abs.$colors, "p");
        padding: 0 5rem;
      }
    }
  }
}

/*quienes-somos*/
.break {
  color: map.get(abs.$colors, "wht");
  background-color: map.get(abs.$colors, "hd");
  width: 100%;
  margin-bottom: 2rem;
  @include abs.bp("lg") {
    font-size: 3rem;
  }
}

.full-claustro {
  .curso-intro {
    border: 2px solid map.get(abs.$colors, "hd");
    border-radius: 10%;
    @include abs.bp("md") {
      h2 {
        font-size: 3rem;
      }
    }
  }
  .claustro {
    @include abs.bp("md") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-content: center;
      @include abs.bp("xxl") {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    .prof {
      width: 12rem;
      height: 15rem;
      object-fit: cover;
      margin: 2rem 0;
    }
  }
  @include abs.bp("xxl") {
    .m-claustro {
      grid-template-columns: 1fr 1fr;
    }
  }
}

/*cursos*/
.cursos {
  @include abs.bp("sm") {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
  }
}

/*curso-full-stack*/
.main_cursos {
  .bloque {
    border-top: 1px solid map.get(abs.$colors, "hd");
    padding-top: 1rem;
  }
}

/*hero-img-cursos*/
.img-cursos {
  width: 20rem;
  height: 15rem;
  object-fit: cover;
}

/*hero-img-curso*/
.img-curso {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*blog*/
.blog-hero-section {
  .sub {
    margin-bottom: 0;
  }
}
.noticias {
  @include abs.bp("sm") {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: space-around;
    align-items: first baseline;
  }
  .news-title {
    border: 1px solid map.get(abs.$colors, "hd");
    @include abs.bd-m();
    margin-bottom: 1rem;
    @include abs.bp("md") {
      @include abs.bd-m();
    }
    @include abs.bp("lg") {
      @include abs.bd-l();
    }
  }
}

/*registro*/
.form-registro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  @include abs.bp("md") {
    input,
    button {
      @include abs.bd-m();
    }
    @include abs.bp("lg") {
      @include abs.bd-l();
    }
  }
}

.datos_personales {
  @include abs.bd-m();
  border-top: 1px solid rgb(4, 67, 52);
  border-bottom: 1px solid rgb(4, 67, 52);
  margin-bottom: 2rem;
  @include abs.bp("md") {
    @include abs.bd-m();
  }
  @include abs.bp("lg") {
    @include abs.bd-l();
  }
}
.bio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  .label_bio {
    @include abs.bp("md") {
      @include abs.bd-m();
    }
    @include abs.bp("lg") {
      @include abs.bd-l();
    }
  }
}

/*login*/
.container_login {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  input,
  button {
    @include abs.bp("md") {
      @include abs.bd-m();
    }
    @include abs.bp("lg") {
      @include abs.bd-l();
    }
  }
}
.label_login {
  @include abs.bd-m();
  border-top: 1px solid rgb(4, 67, 52);
  border-bottom: 1px solid rgb(4, 67, 52);
  margin-bottom: 2rem;
  width: 100%;
}

/*contact*/

.map {
  width: 100%;
  margin-bottom: 3rem;
}

 .space-form {
    @include abs.bp("xl") {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
     h3{
      max-width: 25%;
     }
    }
  }
.contacto_form {
  input,
  button {
    @include abs.bp("md") {
      @include abs.bd-l();
    }
    @include abs.bp("lg") {
      @include abs.bd-xl();
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
 
}
