@use "../abstracts/abstracts" as abs;
@use "sass:map";

/*header*/
.main__nav{
   @include abs.bp('lg'){
        flex-direction: row;
      }
}

.nav_list {
  list-style: none;
  text-align: center;
  @include abs.bp('lg'){
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
 

  li a {
    text-decoration: none;
    color: map.get(abs.$colors, "p");
    display: none;
    @include abs.bp('lg'){
      display: block;
    }
    &:hover{
      color: map.get(abs.$colors, "hover");
    }
    @include abs.bp("md") {
      font-size: map.get(abs.$font-sz, "hd-l");
    }
    @include abs.bp('lg'){
      font-size: map.get(abs.$font-sz, "hd-m");
    }
  }
}

.checkbox:checked ~ .main__nav .nav_list li a {
  display: block;
}
